*{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}
body{
        background-color: grey;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
}
.container{
        position: relative;
        width:100%;
        max-width: 1000px;
        min-height: 1000px;
        background-color: #fff;
        display: grid;
        grid-template-columns: 1fr 2fr;
        margin: 50px;
}
.container .left-side{
        position: relative;
        background-color: #003147;
        padding: 40px;
        
}

.container .profile-own{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 10px;
        border-bottom: 1px solid black;
}
.container .img1 {
        position: relative;
        overflow: hidden;
        
}
.container h2 {
        text-transform: uppercase;
        text-align: center;
        color: #fff;
        font-size: 1.4rem;
        margin-top: 20px;
        line-height: 1.4rem;
        font-weight: 600;
}
.container h2 span {
        font-size: 0.9em;
        font-weight: 300;
}
.contact-info{
        padding-top: 40px;
}
.title{
        color: #fff;
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: 1px;
        margin-bottom: 20px;
}

.container ul{
        position: relative;
}
.container ul li{
        position: relative;
        list-style: none;
        margin: 10px 0;
}
.container ul li .icon{
        display: inline-block;
        width: 30px;
        font-size: 18px;
        color: violet;
}
.container ul li .text {
        color: #fff;
        font-weight: 300;
}
.contact-info.education li {
        margin-bottom: 16px;
}
.contact-info.education h5{
        color: #03a9f4;
        font-weight: 500;
}
.contact-info.education h4 {
        color: #fff;
        font-weight: 500;
}
.contact-info.lang .percent{
        position: relative;
        width: 100%;
        height: 6px;
        background-color: #081921;
        display: block;
        margin-top: 5px;
}
.contact-info.lang .percent div{
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        background-color: blueviolet;
}
.container .right-side{
        position: relative;
        background-color: burlywood;
        padding: 40px;
}
.about{
        margin-bottom: 50px;
}
.about:last-child{
        margin-bottom: 0;
}
.title-2 {
        color:#003147;
        text-transform: uppercase;
        letter-spacing: 1px;
        margin-bottom: 10px;
}
p{
        color:#333;
}
.about .box {
        display: flex;
        flex-direction: row;
        margin: 20px 0;
}
.about .box .year{
        min-width: 150px;
}
.about .box .year h4{
        text-transform: uppercase;
        color: #003147;
        font-weight: 600;
}
.about .box .text h4 {
        text-transform: uppercase;
        color: blue;
        font-weight: 600;
}
.skills .box {
        position: relative;
        width: 100%;
        display: grid;
        grid-template-columns: 150px 1fr;
        justify-content: center;
        align-items: center;
}
.skills .box h4 {
        text-transform: uppercase;
        color: blueviolet;
        font-weight: 600;
}
.skills .box .percent {
        position: relative;
        width: 100%;
        height: 8px;
        background-color: #081921;
}
.skills .box .percent div {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        background-color: blueviolet;
}
.interest ul {
        display: grid;
        grid-template-columns:repeat(4,1fr) ;
}
.interest ul li{
        color: #063b54;
        font-weight: 600;
        margin:10px 0;
}
